.navbar {
	display: flex;
	min-height: 80px;
	max-width: 100%;
	justify-content: space-between;
	align-items: center;
}

.navbar::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 1px;
	background-color: var(--color-dark-grey);
	top: 80px;
	left: 0;
}

.navbar__title {
	font-family: var(--font-antonio);
	font-size: var(--fs-800);
	text-transform: uppercase;
	color: var(--color-white);
}

.burger {
	display: none;
	margin-left: auto;
}

@media only screen and (max-width: 1280px) {
	.navbar {
		flex-direction: column;
		padding-top: 1em;
	}

	.navbar::after {
		top: 102px;
	}
}
@media only screen and (max-width: 768px) {
	.navbar {
		flex-direction: row;
		justify-content: start;
		min-height: 70px;
		border-bottom: none;

		padding: 0;
	}

	.navbar::after {
		display: none;
	}
	.burger {
		position: absolute;
		z-index: 15000;
		right: 5vw;
		display: block;
	}

	.navbar__title {
		position: absolute;
		z-index: 15000;
	}
}
