.frame {
	background: transparent;
	border: 1px solid grey;
	color: var(--color-white);
	min-width: 230px;
	text-align: left;
	padding: 1.5em;
	
}

.title {
	text-transform: uppercase;
	color: var(--color-light-grey);

	font-size: 0.7em;
	padding-block: 0.5em;
	letter-spacing: 2px;
	
	
}

.data {
	text-transform: uppercase;

	font-family: var(--font-antonio);
	font-weight: 600;
	font-size: 2.3em;
}


