.frame {
	background: transparent;
	border: 1px solid grey;
	color: var(--color-white);
	min-width: 250px;
	padding: 1em;
}

.title {
	text-transform: uppercase;
	color: var(--color-light-grey);
	padding: 0.5rem;
}

.data {
	text-transform: uppercase;
	padding: 0.5em;
}
