.navbar {
	display: flex;

	max-width: 100%;
	justify-content: space-between;
	align-items: center;
	padding-inline: min(10vw, 5em);
	border-bottom: 1px solid var(--color-dark-grey);
}

.navbar__title {
	font-family: var(--font-antonio);
	font-size: var(--fs-800);
	text-transform: uppercase;
	color: var(--color-white);
}

@media only screen and (max-width: 1280px) {
	.navbar {
		flex-direction: column;
		padding-inline: min(5vw, 2em);
	}
}
@media only screen and (max-width: 768px) {
	.navbar {
		flex-direction: row;
		justify-content: start;
	}
	.navbar__title {
		margin-left: 28px;
	}
}
