.nav {
	display: flex;
	max-width: 100%;

	text-transform: uppercase;
}

.nav li {
	font-weight: bold;
	font-size: 0.8em;
	margin-inline: 5px;
	position: relative;
	cursor: pointer;
	color: var(--color-light-grey);
	list-style-type: none;
	padding: 10px;
}

.nav li:hover {
	color: var(--color-white);
}

.nav li::after {
	content: "";
	position: absolute;
	height: 3px;
	width: 100%;
	left: 0;
	top: -22px;
	transform: scaleX(0);
	transition: transform 0.2s ease-in-out;
}

.nav li:hover::after {
	transform: scaleX(1);
}

@media only screen and (max-width: 1280px) {
	.nav {
		padding-block: 1em 1em;
		width: 100%;
		justify-content: space-between;
	}

	.nav li::after {
		top: 49px;
	}
}

.nav .active {
	color: var(--color-white);
}

/* active states */
.nav .mercury_active::after {
	transform: scaleX(1);
}

.nav .venus_active::after {
	transform: scaleX(1);
}
.nav .earth_active::after {
	transform: scaleX(1);
}
.nav .mars_active::after {
	transform: scaleX(1);
}
.nav .jupiter_active::after {
	transform: scaleX(1);
}
.nav .saturn_active::after {
	transform: scaleX(1);
}
.nav .uranus_active::after {
	transform: scaleX(1);
}
.nav .neptune_active::after {
	transform: scaleX(1);
}

/* active states end */

.mercury::after {
	background-color: var(--color-mercury);
}

.venus::after {
	background-color: var(--color-venus);
}
.earth::after {
	background-color: var(--color-earth);
}

.mars::after {
	background-color: var(--color-mars);
}
.jupiter::after {
	background-color: var(--color-jupiter);
}
.saturn::after {
	background-color: var(--color-saturn);
}
.uranus::after {
	background-color: var(--color-uranus);
}
.neptune::after {
	background-color: var(--color-neptune);
}
