.button {
	color: var(--color-white);
	margin-block: 5px;

	padding: 1.1em;
	width: 100%;
	cursor: pointer;
	border: 1px solid var(--color-dark-grey);
	background: transparent;
	text-transform: uppercase;
	text-align: left;
	letter-spacing: 2px;
}

.container {
	max-width: 100%;
	display: flex;
	font-size: var(--fs-300);
	align-items: center;
	padding-left: 2em;
	font-weight: bold;
}

.container::before {
	content: counter(padded, decimal-leading-zero);
	counter-increment: padded;
	color: var(--color-light-grey);
	font-weight: lighter;
	margin-right: 1rem;
	font-size: var(--fs-300);
}

.mercury {
	background-color: var(--color-mercury);
}
.venus {
	background-color: var(--color-venus);
}
.earth {
	background-color: var(--color-earth);
}
.mars {
	background-color: var(--color-mars);
}
.jupiter {
	background-color: var(--color-jupiter);
}
.saturn {
	background-color: var(--color-saturn);
}
.uranus {
	background-color: var(--color-uranus);
}
.neptune {
	background-color: var(--color-neptune);
}

@media only screen and (max-width: 768px) {
	.container::before {
		display: none;
	}
	.button {
		flex: 1;
	}
}
