.planet {
	color: var(--color-white);
	display: grid;

	align-items: center;
	justify-items: center;
	grid-template-columns: 1fr minmax(200px, 380px);
	grid-template-rows: 1fr minmax(200px, 300px);
	row-gap: 25px;
}

.text_container {
	grid-column: 2 / -1;
	align-self: end;
	padding-top: 1em;
}

.tab_container {
	grid-column: 2 / -1;
	grid-row: 2 / 3;
	justify-self: stretch;
	align-self: start;
}

.planet__title {
	font-family: var(--font-antonio);

	font-size: var(--fs-XXL);
	text-transform: uppercase;
	margin-block-start: 0;
	margin-block-end: 0;
}

.planet__description {
	font-size: var(--fs-400);
	padding-block: 2.5rem 1rem;
	line-height: 1.7;
	min-height: 250px;
}

.planet__source {
	font-size: var(--fs-400);
	padding-top: 0.5rem;
	color: var(--color-light-grey);
}

.arrow {
	vertical-align: text-bottom;
}

.image_container {
	grid-column: 1 / 2;
	grid-row: 1 / 3;
	max-width: 100%;
}

.planet__image {
	width: 100%;
	display: block;
	object-fit: cover;
}

.image_container_secondary {
	grid-column: 1 / 2;
	grid-row: 1 / 3;

	max-width: 100%;
	display: grid;

	grid-template-columns: 1fr;
}

.image__primary,
.image__secondary {
	grid-row: 1 / 3;
}

.image__primary {
	grid-column: 1 / 1;
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
}

.image__secondary {
	grid-column: 1 / 1;
	max-width: 150px;
	display: block;

	align-self: end;
	justify-self: center;
}

a {
	margin-inline: 7px;
}

@media only screen and (max-width: 1280px) {
	.planet {
		padding-top: 3em;
	}

	.planet__description {
		min-height: 200px;
	}

	.text_container {
		grid-column: 1 / 2;
		grid-row: 2 / -1;
		align-self: start;
		justify-self: start;
		min-width: 250px;
		padding: 0;
	}
	.text_container h2 {
		padding: 0;
		margin: 0;
		line-height: 0.8;
	}

	.tab_container {
		grid-column: 2 / -1;
		grid-row: 2 / -1;
		align-self: start;
		justify-self: end;
		min-width: 300px;
	}
	.image_container {
		grid-column: 1 / -1;
		grid-row: 1 / 2;
		min-height: 400px;
	}
	.image_container_secondary {
		grid-column: 1 / -1;
		grid-row: 1 / 2;
		min-height: 400px;
	}

	.planet__image {
		max-width: 400px;
		height: auto;
	}
	.image__primary {
		max-width: 400px;
		height: auto;
	}
	.image__secondary {
		max-width: 150px;
		height: auto;
	}
}

@media only screen and (max-width: 768px) {
	.planet {
		grid-template-rows: 60px 1fr 200px;
		row-gap: 50px;
		margin-bottom: 2em;
		padding-top: 0;
	}

	.planet * button {
		margin: 0;

		border-inline: none;
	}
	.tab_container {
		justify-self: stretch;
		grid-column: 1 / -1;
		grid-row: 1 / 2;
		min-width: 0px;
	}

	.text_container {
		justify-self: center;
		grid-column: 1 / -1;
		grid-row: 3 / 4;
		text-align: center;
	}

	.planet__description {
		padding-bottom: 0;
		min-height: 160px;
	}

	.image_container {
		grid-column: 1 / -1;
		grid-row: 2 / 3;
		min-height: 250px;
	}
	.image_container_secondary {
		grid-column: 1 / -1;
		grid-row: 2 / 3;
		min-height: 250px;
	}

	.planet__image {
		max-width: 250px;
	}
	.image__primary {
		max-width: 250px;
	}
	.image__secondary {
		max-width: 100px;
		height: auto;
	}
}
