.button {
	color: var(--color-white);
	margin-block: 5px;

	padding: 1.1em;
	width: 100%;
	cursor: pointer;
	border: 1px solid var(--color-dark-grey);
	background: transparent;
	text-transform: uppercase;
	text-align: left;
	letter-spacing: 2px;
}

.container {
	max-width: 100%;
	display: flex;
	font-size: var(--fs-300);
	align-items: center;
	padding-left: 2em;
	font-weight: bold;
}

.container::before {
	content: counter(padded, decimal-leading-zero);
	counter-increment: padded;
	color: var(--color-light-grey);
	font-weight: lighter;
	margin-right: 1rem;
	font-size: var(--fs-300);
}

.mercury,
.mercury::after {
	background-color: var(--color-mercury);
}
.venus,
.venus::after {
	background-color: var(--color-venus);
}
.earth,
.earth::after {
	background-color: var(--color-earth);
}
.mars,
.mars::after {
	background-color: var(--color-mars);
}
.jupiter,
.jupiter::after {
	background-color: var(--color-jupiter);
}
.saturn,
.saturn::after {
	background-color: var(--color-saturn);
}
.uranus,
.uranus::after {
	background-color: var(--color-uranus);
}
.neptune,
.neptune::after {
	background-color: var(--color-neptune);
}

@media only screen and (max-width: 768px) {
	.container {
		padding: 0;
	}

	.container::before {
		display: none;
	}

	.button {
		position: relative;
		color: var(--color-light-grey);
		background-color: transparent;
		text-align: center;
	}
	.button > span {
		display: inline-block;
		margin: 0 auto;
	}

	.button::after {
		content: "";
		position: absolute;

		height: 2px;
		width: 100%;
		bottom: -3px;
		left: 0;
	}
}
